/* header {
  background-color: #e8e6f3;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem;
} */

header {
  background-image: url('../img/psychoterapeuta.jpg'); /* Replace with your actual image path */
  background-size: cover;       /* Makes the image cover the entire header */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2rem;
}

.header__h2 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    font-size: 1.75rem;
}
